<!DOCTYPE html>
<html>
<head>
  <!-- SCROLLS -->
  <!-- load bootstrap and fontawesome via CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <!-- SPELLS -->
  <!-- load angular and angular route via CDN -->

</head>
<body ng-app="app">
<div ng-controller="Ctrl" ng-init="init()">
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Linear Algebra</a>
      </div>
    </div><!--/.container-fluid -->
  </nav>
</header>
<div class="container">
<div ng-controller="SolutionCtrl" ng-init="start()">
  <div class="row">
  {{randos[0]}}x + {{randos[1]}}y +
  {{randos[2]}}z = {{constant}}
  <br><br>
  <p>Which is a solution to the equation?</p>
  <ul class="list-group col-sm-3">
  <li ng-repeat="ans in answers" class="list-group-item" ng-click="ans.picked=ans.status" ng-class="{'list-group-item-danger':ans.picked==='wrong','list-group-item-success':ans.picked==='correct'}">{{ans.numbers}}</li>
  </ul>
</div>
  <div class="row">
  <button class="btn btn-success" ng-click="start()">Refresh</button>
  </div>
</div>
<br><hr><br>
<div ng-controller="FreeVariablesCtrl">
  Which are the free variables in this system of equations?
  <br><br>
<system-of-equations system="system"></system-of-equations>
<ul class="list-group col-sm-3">
<li ng-repeat="ans in answers" class="list-group-item" ng-click="ans.picked=ans[1]" ng-class="{'list-group-item-danger':ans.picked==='wrong','list-group-item-success':ans.picked==='correct'}">
  <span ng-repeat='variable in ans[0] track by $index'>{{variable}}<span ng-hide="$index===(ans[0].length-1)">,</span>&nbsp;</span></li>
</ul>
</div>
</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="script.js"></script>
<script src="directives.js"></script>
</html>
